html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-bottom: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
    background-color: rgb(76, 126, 126);
}

.grid {
    border: 2px solid darkslategray;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
}

.square {
    border: 1px solid darkslategray;
    box-sizing: border-box;
    transition: background-color 0.2s;
}