html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    border: 2px solid darkslategray;
}

.row {
    display: flex;
}

.square {
    width: 24px;
    height: 24px;
    border: 1px solid darkslategray;
}